/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Sidebar */
.sidebar {
    width: 270px;
    height: 100%;
    background: oklch(0.379 0.146 265.522);
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .active{
    background-color: oklch(0.282 0.091 267.935);
    padding: 8px;
    border-radius: 4px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    padding: 10px 0;
    margin-left: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    transition: 0.3s;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 16px;
}

.sidebar ul li:hover {
    background: oklch(0.398 0.195 277.366);
}

/* Main Content */
.main-content {
    margin-left: 270px;
    /* Space for sidebar */
    width: calc(100% - 270px);
    padding: 20px;
}

h1 {
    font-size: 26px;
    margin-bottom: 40px;
    margin-top: 20px;

}

/* Customer Form */

/* Grid Layout */
.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

.grid-full {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}


.customer-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.customer-form h2 {
    margin-bottom: 30px;
    font-size: 18px;
}

.customer-form label {
    font-size: 12px;
    font-weight: 600;
    color: #707070;
    margin-bottom: 5px;

}



.customer-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.customer-form button {
    background: blue;
    color: white;
    border: none;
    padding: 10px;
    width: 40%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.customer-form button:hover {
    background: rgb(77, 77, 254);
}



/* Customer List */
.customer-list {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.customer-list h2 {
    margin-bottom: 20px;
    margin-top: -5px;
    font-size: 18px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #1a1a1a;
    color: white;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

tr:hover {
    background: #ecf0f1;
}

button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.editBtn {
    background: blue;
    color: white;
    border-radius: 4px;
}

.deleteBtn {
    background-color: red;
    color: white;
    border-radius: 4px;
}

.button-container{
    margin-bottom: 20px;
}

.button-container #addCustomerBtn{
    background-color: blue;
    color: white;
    border-radius: 4px;
    padding: 12px;
    font-weight: 600;
}
.button-container #viewCustomersBtn{
    background-color: rgb(255, 255, 39);
    color: black;
    border-radius: 4px;
    padding: 12px;
    font-weight: 600;
}